body {
    background-color: #d3d3d3;
}

.main-container {
    height: 100vh;
    background-color: #fff;
}

#keySelection {
    min-width: 45px;
}

@media screen and (max-width: 768px){
    #noteImage {
        width: 80%;
        height: auto;
    } 
    
    #keyImage {
        width: 50%;
        height: auto;
    }
}
